<h2 id="title">#</h2>
<span id="description">#</span>
<br />
<span>Total views: </span><span id="views">#</span>
<br />
#
<img src="/images/?">
#
<form method="POST">
  <input type="submit" value="DELETE">
</form>
#
<form method="POST">
  <input type="submit" value="RESTORE">
</form>
#
<h3>Leave comment</h3>
<form action="/details/#/comments" method="POST">
  <input type="text" name="user" required="required" placeholder="Enter username" />
  <br />
  <textarea name="text" placeholder="Enter comment" required="required" cols="22"></textarea>
  <br />
  <input type="submit">
</form>